::-webkit-scrollbar {
    display: none;
}
body {
	font-family: 'Papyrus';
	background: #151515;
	color: #eeeeee;
}
.new-btn{
	margin-top: 10px;
	margin-left: 1%;
}
button{
	border-radius: 20px;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #505050;
	border-width: 3px;
	border-color: #eeeeee;
	color: #eeeeee;
	padding: 5px;
	font-size: 15px;
	width: 120px;
}
.header{
	margin-left: 2%;
	margin-right: 2%;
	height: 10%;
	justify-content: space-between;
	display: flex;
}
.sign-in-board{
	background: #303030;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 20%;
	margin-right: 20%;
	height: 80%;
}
.board{
	background: #303030;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 2%;
	margin-right: 2%;
	height: 86%;
	overflow: auto;
}
.card {
	background-color: #505050;
	border-radius: 4px;
	width: 23%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-top: 3px;
	margin-bottom: 10px;
	position: relative;
	display: inline-flex;
}
.incard{
	width: 100%;
	margin-left: 15px;
	margin-right: 15px;
}
h4 {
    font-size: 15px;
}
h5 {
    font-size: 15px;
	text-align: right;
}
.center{
	margin:0px auto;
	width: fit-content;
	height: fit-content;
}
.right{
	margin-left: auto; 
	margin-right: 0;
}


.custom-file-upload {
	background-color: aqua;
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 30px;
}

.file-upload-wrapper {
	background-color: aqua;
    position: relative; 
    margin-bottom: 5px;
}
.file-upload-input {
    width: 300px;
    color: #fff;
    font-size: 16px;
    padding: 11px 17px; 
    border: none;
    background-color: #c0392b; 
    float: left;
}
.file-upload-button {
    cursor: pointer; 
    display: inline-block; 
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 20px; 
    border: none;
    margin-left: -1px;  
    background-color: darken(#c0392b, 10);
}